body {
    margin: 0;
}



#passBox {
    position: absolute;
    width: 550px;
    height: 550px;
    left: 62px;
    top: 64px;
    background: #1F2937;
}

#titleBox {
    position: absolute;
    width: 354px;
    height: 270px;
    left: 52px;
    top: 80px;
    border: none;
    overflow: hidden;   
}



#fontWhite {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 33px;
    line-height: 0px;
    padding: 0px;
    letter-spacing: -0.025em;
    top: 0px;
    color: #FFFFFF;

}

#fontGreen {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 33px;
    line-height: 0px;
    padding: 0px;
    margin-top: 0px;
    top: 65px;
    letter-spacing: -0.025em;
    color: #4ADF86;

}

#subTitle {
    position: absolute;
    width: 372px;
    height: 28px;
    left: 0px;
    top: 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 0px;
    color: #D5D4D8;
}

#passTitle {
    position: absolute;
    width: 372px;
    height: 28px;
    left: 0px;
    top: 133px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 0px;
    color: #FFFFFF;
}

#buttonStyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    gap: 12px;
    position: absolute;
    width: 191px;
    height: 42px;
    left: 65px;
    top: 345px;
    background: #10B981;
    color: white;
    font-weight: normal;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

#buttonStyle2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    gap: 12px;
    position: absolute;
    width: 191px;
    height: 42px;
    left: 295px;
    top: 345px;
    background: #10B981;
    color: white;
    font-weight: normal;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}


#passBoxLeft {
    position: absolute;
    width: 211px;
    height: 130px;
    left: 52px;
    top: 396px;
    background: #273549;
    border-radius: 6px; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 32px;
    text-align: center;
    color: #55F991;
    overflow-wrap: break-word;


}

#passBoxRight {
    position: absolute;
    width: 211px;
    height: 130px;
    left: 287px;
    top: 396px;
    background: #273549;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 32px;
    text-align: center;
    color: #55F991;
    overflow-wrap: break-word;

}

.slidecontainer {
    position: absolute;
    width: 100%;
    top: 140px;
  
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 50px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4ADF86;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4ADF86;
    cursor: pointer;
  }
  #demo {
    font-family: 'Inter';
    font-size: 20px;
    line-height: 0px;
    color: #D5D4D8;
    top: 350px;
    left: 250px;

  }